DATABASE_URL="postgresql://postgres.[PROJECT_REF]:[PASSWORD]@aws-0-[REGION].pooler.supabase.com:5432/postgres"
PUBLIC_BASE_URL="http://localhost:5173"
APP_ENV="development"
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
